<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Infos du ticket n°{{ ticket.id }}</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            font-size: 12px;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Infos du ticket n°{{ ticket.id }}</h1>
    <table>
        <thead>
            <tr>
                <th>Numéro</th>
                <th>Date d'ouverture</th>
                <th>Objet</th>
                <th>Sujet</th>
                <th>Statut</th>
                <th>Entreprise</th>
                <th>Site</th>
                <th>Emetteur</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ ticket.id }}</td>
                <td>{{ ticket.createdAt|date('d-m-Y') }}</td>
                <td>{{ ticket.object }}</td>
                <td>{{ ticket.subject }}</td>
                <td>{{ ticket.status }}</td>
                <td>{{ ticket.entreprise }}</td>
                <td>{{ ticket.site }}</td>
                <td>{{ ticket.contact }}</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
