{% extends 'base.html.twig' %}

{% block title %}Synaps System | Sites 
    {% if profil == 'contact' %}
        de l'entreprise {{ entreprise.name }}
    {% endif %}   
{% endblock %}

{% if profil == 'commercial' %}
    {% set profilPath = path('commercial.profil', {id: user.id}) %}
{% elseif profil == 'contact' %}
    {% set profilPath = path('contact.profil', {id: user.id}) %}
{% endif %}

{% block sidebar %}
    {% if profil == 'contact' %}
        {% include "partials/_sidebar_contact.html.twig" %}
    {% else %}
        {% include "partials/_sidebar.html.twig" %}
    {% endif %}
{% endblock %}

{% if entreprise is defined %}
    {% set csvPath = path('csv.sitesByEntreprise', {id: entreprise.id}) %}
    {% set pdfPath = path('pdf.sitesByEntreprise', {id: entreprise.id}) %}
{% else %}
    {% set csvPath = path('csv.sites') %}
    {% set pdfPath = path('pdf.sites') %}
{% endif %}


{% block body %}
            <div class="card mb-4" style="width: 1000px;">
                <div class="card-header">
                    <i class="fa-solid fa-users me-1"></i>
                    Liste des sites 
                    {% if profil == 'contact' %}
                     de l'entreprise {{ entreprise.name }}
                    {% endif %}
                </div>

                {% for message in app.flashes('success') %}
                    <div class='alert alert-success mt-4'>
                        {{ message }}
                    </div>
                {% endfor %}
                <div class="card-body">
                <div class ="d-flex justify-content-between align-items-center">
                    {# <a href="{{ path('entreprise.new')}}" class="btn btn-danger btn-sm col-2">Ajouter</a> #}
                    <div class="btn-group btn-group-sm" role="group" aria-label="Basic outlined example">
                        <button type="button" class="btn btn-outline-secondary"><a href="{{ csvPath }}">CSV</a></button>
                        <button type="button" class="btn btn-outline-secondary"><a href="{{ pdfPath }}">PDF</a></button>
                    </div>
                </div>

                    <table id="datatablesSimple" class="table table-bordered table-striped" style="white-space:nowrap;width:100%;">
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Code postal</th>
                                <th>Ville</th>
                                <th>Email</th>
                                {% if profil == 'commercial' %}
                                    <th>Entreprise</th>
                                {% endif %}
                                <th>Contacts</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for site in sites %}
                                <tr>
                                    <td><a href="{{ path('site.edit', { id: site.id}) }}">{{site.name}}</a></td>
                                    <td>{{site.postalcode}}</td>
                                    <td>{{site.city}}</td>
                                    <td>{{site.email}}</td>
                                    {% if profil == 'commercial' %}
                                        <td>{{ site.entreprise }}</td>
                                    {% endif %}
                                    <td><a href="{{ path('site.contacts', {id: site.id}) }}">Contacts</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        

{% endblock %}
